name: Deploy to portal.addisababadbohra.com

on:
  push:
    branches:
      - production-deploy

jobs:
  construction-prod:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to staging server

        uses: appleboy/ssh-action@v1.0.3

        with:
          host: ${{ secrets.PROD_IP }}

          username: ${{ secrets.STAGE_USERNAME }}

          key: ${{ secrets.SERVER_KEY }}

          port: 22

          script: |

            /bin/bash /root/deploy-front.sh

            echo "Showing last 4 commits"

            git log -4 --date=local --pretty=format:"%h | %an | %ad | %s" .

          debug: true
