name: Deploy to construction-stg.itrtechsystems.com
on:
  push:
    branches:
      - stg-deploy

jobs:
  construction-stg:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to staging server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGE_IP }}
          username: ${{ secrets.STAGE_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          port: 22
          script: |
            cd /root/construction-mgt-app-front
            git restore .
            git checkout stg-deploy
            git pull

            echo "Showing last 4 commits"
            git log -4 --date=local --pretty=format:"%h | %an | %ad | %s" .
            /bin/bash run.sh
          debug: true

